<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    <a href="{% url 'logar' %}">Login Lista de Ramais</a>
    <a href="{% url 'loginPinterest' %}">Login Pinterest</a>
    <a href="{% url 'adote_login' %}">Login Adote</a>
    <h1>Bem-vindo à página inicial!</h1>
    <p>Esta é a página inicial do seu site.</p>
    <p>Você pode adicionar mais conteúdo aqui.</p>
    <p>Se precisar de ajuda, entre em contato conosco.</p>
</body>
</html>